<html>
  <head>
    <title>資金分配建議</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link
      href="resources/css/axure_rp_page.css"
      type="text/css"
      rel="stylesheet"
    />
    <link href="data/styles.css" type="text/css" rel="stylesheet" />
    <link
      href="files/資金分配建議/styles.css"
      type="text/css"
      rel="stylesheet"
    />
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/資金分配建議/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function () {
        return "resources/images/transparent.gif";
      };
      $axure.utils.getOtherPath = function () {
        return "resources/Other.html";
      };
      $axure.utils.getReloadPath = function () {
        return "resources/reload.html";
      };
    </script>
  </head>
  <body>
    <div id="base" class="">
      <!-- Unnamed (Rectangle) -->
      <div id="u316" class="ax_default shape1">
        <img id="u316_img" class="img" src="images/帳戶資訊/u0.svg" />
        <div
          id="u316_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u317" class="ax_default shape1">
        <div id="u317_div" class=""></div>
        <div
          id="u317_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u318" class="ax_default icon">
        <img id="u318_img" class="img" src="images/帳戶資訊/u2.svg" />
        <div
          id="u318_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u319" class="ax_default heading_31">
        <div id="u319_div" class=""></div>
        <div id="u319_text" class="text">
          <p><span>Dashboard</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u320" class="ax_default label">
        <div id="u320_div" class=""></div>
        <div id="u320_text" class="text">
          <p><span>Logout</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u321" class="ax_default icon">
        <img id="u321_img" class="img" src="images/帳戶資訊/u13.svg" />
        <div
          id="u321_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u322" class="ax_default icon">
        <img id="u322_img" class="img" src="images/帳戶資訊/u14.svg" />
        <div
          id="u322_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u323" class="ax_default icon">
        <img id="u323_img" class="img" src="images/帳戶資訊/u15.svg" />
        <div
          id="u323_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u324" class="ax_default icon">
        <img id="u324_img" class="img" src="images/帳戶資訊/u16.svg" />
        <div
          id="u324_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u325" class="ax_default icon">
        <img id="u325_img" class="img" src="images/帳戶資訊/u42.svg" />
        <div
          id="u325_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u326" class="ax_default label">
        <div id="u326_div" class=""></div>
        <div id="u326_text" class="text">
          <p><span>Jason Morrison</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u327" class="ax_default label">
        <div id="u327_div" class=""></div>
        <div id="u327_text" class="text">
          <p><span>Marketer</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u328" class="ax_default heading_31">
        <div id="u328_div" class=""></div>
        <div id="u328_text" class="text">
          <p>
            <span>Welcome back Jason, You have a </span
            ><span style="text-decoration: underline">10 new messages</span>
          </p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u329" class="ax_default icon">
        <img id="u329_img" class="img" src="images/帳戶資訊/u47.svg" />
        <div
          id="u329_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u330" class="ax_default icon">
        <img id="u330_img" class="img" src="images/帳戶資訊/u48.svg" />
        <div
          id="u330_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Ellipse) -->
      <div id="u331" class="ax_default shape1">
        <img id="u331_img" class="img" src="images/帳戶資訊/u49.svg" />
        <div
          id="u331_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div
        id="u332"
        class="ax_default"
        data-left="72"
        data-top="54"
        data-width="95"
        data-height="95"
        layer-opacity="1"
      >
        <!-- Unnamed (Group) -->
        <div
          id="u333"
          class="ax_default"
          data-left="72"
          data-top="54"
          data-width="95"
          data-height="95"
          layer-opacity="1"
        >
          <!-- Unnamed (Shape) -->
          <div id="u334" class="ax_default ellipse">
            <img id="u334_img" class="img" src="images/帳戶資訊/u52.svg" />
            <div
              id="u334_text"
              class="text"
              style="display: none; visibility: hidden"
            >
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Shape) -->
          <div id="u335" class="ax_default ellipse">
            <img id="u335_img" class="img" src="images/帳戶資訊/u53.svg" />
            <div
              id="u335_text"
              class="text"
              style="display: none; visibility: hidden"
            >
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Ellipse) -->
          <div id="u336" class="ax_default shape1">
            <img id="u336_img" class="img" src="images/帳戶資訊/u54.svg" />
            <div
              id="u336_text"
              class="text"
              style="display: none; visibility: hidden"
            >
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Ellipse) -->
      <div id="u337" class="ax_default ellipse">
        <img id="u337_img" class="img" src="images/帳戶資訊/u55.svg" />
        <div
          id="u337_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u338" class="ax_default label">
        <div id="u338_div" class=""></div>
        <div id="u338_text" class="text">
          <p><span>Dashboard</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u339" class="ax_default label">
        <div id="u339_div" class=""></div>
        <div id="u339_text" class="text">
          <p><span>Statistics</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u340" class="ax_default label">
        <div id="u340_div" class=""></div>
        <div id="u340_text" class="text">
          <p><span>Team</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u341" class="ax_default label">
        <div id="u341_div" class=""></div>
        <div id="u341_text" class="text">
          <p><span>Notifications</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u342" class="ax_default label">
        <div id="u342_div" class=""></div>
        <div id="u342_text" class="text">
          <p><span>Exchanges</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div
        id="u343"
        class="ax_default"
        data-left="274"
        data-top="101"
        data-width="892"
        data-height="694"
        layer-opacity="1"
      >
        <!-- Unnamed (Rectangle) -->
        <div id="u344" class="ax_default box_1">
          <img id="u344_img" class="img" src="images/資金分配建議/u344.svg" />
          <div
            id="u344_text"
            class="text"
            style="display: none; visibility: hidden"
          >
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u345" class="ax_default icon">
        <img id="u345_img" class="img" src="images/帳戶資訊/u82.svg" />
        <div
          id="u345_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u346" class="ax_default icon">
        <img id="u346_img" class="img" src="images/帳戶資訊/u83.svg" />
        <div
          id="u346_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u347" class="ax_default icon">
        <img id="u347_img" class="img" src="images/帳戶資訊/u84.svg" />
        <div
          id="u347_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u348" class="ax_default icon">
        <img id="u348_img" class="img" src="images/帳戶資訊/u85.svg" />
        <div
          id="u348_text"
          class="text"
          style="display: none; visibility: hidden"
        >
          <p></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>

    <div id="axureEventReceiverDiv" style="display: none">
      {"message":"initialize"}
    </div>
    <div id="axureEventSenderDiv" style="display: none"></div>
  </body>
</html>
