<!DOCTYPE html>
<html>
<head>
    <title>表格测试</title>
</head>
<body>
    <form action="/result" method="POST">
        <input type="text" name="input_name" placeholder="输入您的内容">
        <button type="submit">提交</button>
    </form>
    <!-- <form action="/result" method="POST">
        <input type="text" name="localplace" placeholder="输入您的内容">
        <button type="submit">本地連動</button>
    </form>

    {% if localplace %}
    <h1>用户输入：</h1>
    <p>{{ localplace }}</p>
    {% endif %} -->

</body>
</html>
